<mdb-carousel>
  <mdb-carousel-item>
    <img
      src="https://cdn.create.vista.com/api/media/small/302880426/stock-photo-smiling-woman-sunglasses-holding-shopping-bags-isolated-yellow"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://img.freepik.com/premium-photo/young-woman-sweater-holding-shopping-bags-yellow-background_164357-6623.jpg"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://media.istockphoto.com/id/1285269024/photo/smiling-black-woman-holding-credit-card-and-shopping-bags.jpg?s=612x612&w=0&k=20&c=nmvO_A8WGDSmasZa06bLFSSFWIxvSkchtRGmxMOB5A4="
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://img.freepik.com/free-photo/full-length-view-excited-slim-woman-with-store-bags_197531-16467.jpg"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://st4.depositphotos.com/12985790/19688/i/450/depositphotos_196884578-stock-photo-smiling-stylish-asian-woman-shopping.jpg"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://cdn.create.vista.com/api/media/small/392569552/stock-photo-smiling-stylish-summer-brunette-girl-shopping-bags-looking-away-yellow"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://media.istockphoto.com/id/1373300724/photo/easy-shopping-happy-middle-eastern-couple-holding-credit-card-and-shopper-bags.jpg?s=612x612&w=0&k=20&c=vbzuihWQw64FfnYfr2l1p2Hm54oeihHubbwI4TU5B8o="
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://img.freepik.com/premium-photo/young-handsome-businessman-against-flat-wall-with-shopping-bags_1194-37182.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1711929600&semt=ais"
      class="d-block w-100"
      alt="..."
      class='d-block w-100' alt='...' style="height:580px"
    />
  </mdb-carousel-item>
</mdb-carousel>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img routerLink="/view/:id" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-danger"><i class="fa-solid fa-heart"></i></button>
                            <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>