<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <a class="m-2" href=""><i class="fa-solid fa-cart-shopping fa-beat"></i></a>
      <a class="navbar-brand " href="#">E-cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
             <button routerLink="/wishlist"
                class="nav-link active" aria-current="page" href="#">Wishlist
            <span class="badge bg-danger">0</span>
             </button>
          </li>
          <li class="nav-item">
            <button routerLink="/cart"
            class="nav-link active" aria-current="page" href="#">Cart
        <span class="badge bg-primary">0</span>
         </button>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         
        </form>
        <button routerLink="/login"
            class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-user"></i>
            Login
         </button>
      </div>
    </div>
  </nav>