<div
  style="min-height: 100vh"
  class="d-flex justify-content-center align-items-center w-100"
>
  <div class=".w-80 border-rounded p-5 card shadow">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img
          src="https://vendor.eshopweb.store/assets/admin/images/eshop_img.jpg"
          alt="login"
        width="100%"/>
      </div>

      <div class="col-lg-6">

       
        <h2>Login Form</h2>
       
        <form >

          <!-- invalid email -->

          
          <div class="mb-3">
            <input  type="text" class="form-control" placeholder="Username" email required
            name="email" />
          </div>
          <div class="mb-3">
            <input  type="email" class="form-control" placeholder="Email " email required
            name="email" />
          </div>


          <!-- invalid password -->

         
          <div class="mb-3">
            <input 
              type="password"
              class="form-control"
              placeholder="Password" pattern="[a-zA-Z0-9]*" minlength="3" required
              name="password" 
            />
          </div>

          <div class="mb-3">
            <input
              
              type="submit"
              class="btn btn-warning form-control "
              value="Register" 
            />
            
          </div>
          <div>
            <input type="checkbox" name="" id=""  >
            I agree to <span> <a href="/terms">terms and condition</a> </span>
          </div>
          
        </form>

       
      </div>
      
    </div>
  </div>
</div>